.dialog {
    color: whitesmoke;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    position: relative;
}

.dialog.active {
    background: var(--darkTwo);
    color: orange;
    text-shadow: 1px 1px 1px red;
}

.dialog>div>img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.newMessages {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--darkThree);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.newMessages>div {
    font-size: 14px;
    text-align: center;
}
