.post {
    display: flex;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    justify-items: center;
    background: #18191a;
    color: whitesmoke;
}

.post img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.message {
    flex-grow: 1;
}

.likes {
    width: 50px;
}