.status {
    position: relative;
}

.editModeOn input {
    background-color: transparent;
    border: 0px solid;
    width: 160px;
    color: white;
    outline: none;
}

.status:hover {
    color: orange;
    cursor: pointer;
}

.editModeOff {

}

