.messages {
    overflow: auto;
    margin-bottom: 4px;
    height: 70vh;
}

::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-track {  background-color: transparent;}
::-webkit-scrollbar-track-piece { background-color: transparent;}
::-webkit-scrollbar-thumb {background-color: #999; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}