.profileMenu {
    padding: 5px;
    margin-top: 12px;
    background: #1f2023;
    border: 2px solid orange;
    border-top: none;
}

.profileMenu div {
    color: white;
    padding: 5px;
    margin: 5px auto;
    font-size: 18px;
}

.profileMenu a {
    color: inherit;
}

.profileMenu div:hover {
    cursor: pointer;
    color: #1f2023;
    background: white;
}