.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    font-size: 100px;
    font-family: "Book Antiqua";
    font-weight: bold;
    color: white;
    text-shadow: 6px 6px 0px red;
    margin-top: 30px;
}

.logo>img {
    width: 200px;
    height: 200px;
    animation: heartBeat 1.5s linear infinite;
    margin-top: 30px;
}

.findFriends {
    width: 300px;
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background: var(--darkOne);
    box-shadow: 5px 5px 0px 0px black;
    transition: transform .1s ease-in-out;
}

.findFriends:hover {
    transform: scale(1.2, 1.2);
    transition: transform .1s ease-in-out;
}


@keyframes heartBeat {
    0% {transform: scale(1, 1)}
    10% {transform: scale(1.1, 1.1)}
    20% {transform: scale(1, 1)}
    30% {transform: scale(1.1, 1.1)}
    40% {transform: scale(1, 1)}
    100% {transform: scale(1, 1)}
}
