.headerWrapper {
    background: #1f2023;
    margin-bottom: 10px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    height: 55px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    align-content: center;
    padding: 5px 15px;
    color: firebrick;
}

.appName {
    font-size: 50px;
    font-family: "Book Antiqua";
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 0px red;
}

.search {
    display: grid;
    align-content: center;
}

.auth {
    margin: auto 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
    text-decoration: none;
}

.bottom {
    position: relative;
    height: 5px;
    background: linear-gradient(orange, black);
}

.login {
    color: yellow;
    text-shadow: 2px 2px 2px red;
    margin-bottom: 5px;
}

.register {
    color: lightgrey;
    font-size: 14px;
}

