.headerWrapper {
    background: #1f2023;
    margin-bottom: 10px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    height: 55px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    align-content: center;
    padding: 5px 15px;
    color: firebrick;
}

.logo img {
    width: 50px;
    display: block;
}

.auth {
    margin: auto 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    font-family: Arial;
    text-decoration: none;
}

.auth a {
    color: inherit;
}

.bottom {
    position: relative;
    height: 5px;
    background: linear-gradient(orange, black);
}