.nav {
    width: 90px;
    box-sizing: border-box;
    position: fixed;
    background: black;
    height: 100vh;
}

.logo img {
    width: 50px;
    margin: 15px auto 30px auto;
}

img {
    margin: 0 auto;
    display: block;
    width: 40px;
}

.page {
    width: 90px;
    height: 90px;
    margin: 20px auto;
    text-align: center ;
}

.item {
    position: relative;
    padding: 10px;
}

.newMessageCount {
    position: absolute;
    text-shadow: 1px 1px 1px black;
    font-size: 12px;
    right: 10px;
    top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.page a {
    font-weight: bold;
    color: firebrick;
    text-decoration: none;
}

.page a:hover {
    color: orangered;
}

.active .item {
    color: orange;
    background: linear-gradient(0.25turn, transparent, rgba(250, 0, 0, .2));
    border-right: 4px solid firebrick;
    transition: border-right-width .1s ease-in-out;
}
