.nav {
    width: 90px;
    box-sizing: border-box;
    position: fixed;
    background: black;
    height: 100vh;
}

.logo img {
    width: 50px;
    margin: 15px auto 30px auto;
}

img {
    margin: 0 auto;
    display: block;
    width: 40px;
}

.page {
    width: 90px;
    height: 90px;
    margin: 20px auto;
    text-align: center ;
}

.item {

}

.page a {
    font-weight: bold;
    color: firebrick;
    text-decoration: none;
}

.page a:hover {
    color: orangered;
}

.active .item {
    color: orange;
    border-right: 4px solid red;
    transition: border-right-width .1s ease-in-out;
}
