.footerWrapper {
    width: 100%;
    background: #1f2023;
    margin-top: 50px;
}

.footer {
    padding: 10px;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.top {
    height: 5px;
    background: linear-gradient(orange, black);
}