.MyPosts {
    padding: 10px;
}

.newPost  {
    margin-bottom: 20px;
}

.posts {

}

.title {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 0 black;
    margin-bottom: 5px;
}